# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Assistant
ASSISTANT_APIKEY=cN2hezxjjgRh9Ax3nQINPg7xEVpMdVPcXOXlpbFhfXhV
ASSISTANT_URL=https://gateway-lon.watsonplatform.net/assistant/api

# Optionally, use a non-default skill by specifying your own workspace ID or name.
# WORKSPACE_ID=<add_assistant_workspace_id>
# WORKSPACE_NAME=<add_assistant_workspace_name>

# Watson Discovery
DISCOVERY_APIKEY=tJfhuh2HZQemCaGTU_snHz2ucgpVz0zwTAKZSAvOoUnR
DISCOVERY_URL=https://gateway-lon.watsonplatform.net/discovery/api

# Optionally, use a non-default environment and collection
# by specifying your IDs.
# DISCOVERY_ENVIRONMENT_ID=<add_discovery_environment_id>
# DISCOVERY_COLLECTION_ID=<add_discovery_collection_id>

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_APIKEY=0Tiq3fbruEurq1qs_ajrM6r7fY3xTl9DVD686sFMq0Jm
NATURAL_LANGUAGE_UNDERSTANDING_URL=https://gateway-lon.watsonplatform.net/natural-language-understanding/api

# Watson Tone Analyzer
TONE_ANALYZER_APIKEY=cN2hezxjjgRh9Ax3nQINPg7xEVpMdVPcXOXlpbFhfXhV
TONE_ANALYZER_URL=https://gateway-lon.watsonplatform.net/assistant/api

# Run locally on a non-default port (default is 3000)
# PORT=3000

# Set LOCALE=en_IN for the original India bank version.
# LOCALE=en_IN

